.wrapper {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 443px;
}

.logo-text {

    font-size: 22px;
    font-weight: 700;
    margin-left: -250px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    justify-items: center;
    align-items: center;
    height: 70px;
    background-color: #1d2124;
    color: #ffffff;
}

.flex-links {
    width: 701px;
    display: flex;
    justify-content: space-around;

}

.link {

    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.header-logo {
    display: flex;
    background-color: #171a1c;
    width: 81px;
    height: 70px;
    background-image: url(../img/logo-header.png);
    background-size: 27px 27px;
    background-position: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.navbar-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 387px;
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-search {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 68px;
    height: 70px;
    background-color: #171a1c;
    background-image: url(../img/search.png);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;

}

.information {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 27px;
    font-weight: 400;

}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 353px;
    margin-left: 600px;
    margin-top: 20px;


}

.subscribe-btn {
    background: url("../img/green.png");
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 400;

}

.articles-btn {
    background: url("../img/blue.png");
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 400;

}

.most-popular-posts {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 61px;
    padding-bottom: 52px;
    background: #f2f2f2;
}

.flex-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #f2f2f2;
}

.flex-row1, .flex-row2, .flex-row3 {

    display: flex;
    flex-direction: column;
    margin: 10px;

}

.post1 {
    display: flex;
    width: 370px;
    height: 259px;
    background-image: url("../img/post1.png");
    background-size: 370px 259px;
    background-repeat: no-repeat;

}

.post1-text {
    display: flex;
    width: 370px;
    height: 61px;
    justify-content: revert;

}

.post2 {
    width: 370px;
    height: 260px;
    background-image: url("../img/post2.png");
    background-size: 370px 260px;
    background-repeat: no-repeat;
    margin-top: 30px;

}

.post2-text {
    display: flex;
    width: 370px;
    height: 61px;
    justify-content: revert;

}

.post3 {
    width: 370px;
    height: 380px;
    background-image: url("../img/post3.png");
    background-size: 370px 380px;
    background-repeat: no-repeat;
}

.post3-text {
    display: flex;
    width: 370px;
    height: 61px;
    justify-content: revert;

}

.post4 {

    width: 370px;
    height: 247px;
    background-image: url("../img/post4.png");
    background-size: 370px 247px;
    background-repeat: no-repeat;
    margin-top: 30px;

}

.post4-text {
    display: flex;
    width: 370px;
    height: 61px;
    justify-content: revert;

}

.post5 {
    width: 370px;
    height: 290px;
    background-image: url("../img/post5.png");
    background-size: 370px 290px;
    background-repeat: no-repeat;
}

.post5-text {
    display: flex;
    width: 370px;
    height: 61px;
    justify-content: revert;

}

.post6 {
    width: 370px;
    height: 380px;
    background-image: url("../img/post6.png");
    background-size: 370px 380px;
    background-repeat: no-repeat;
    margin-top: 30px;

}

.post6-text {
    display: flex;
    width: 370px;
    height: 61px;
    justify-content: revert;

}

.ptext {

    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    background: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;

}

.most-popular-clients {
    display: grid;
    height: 588px;
    background: url("../img/parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.clients-text {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
}

.line {
    display: grid;
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: -200px;

}

.grid-logos {

    display: grid;
    grid-template-areas: "item1 item2 item3 item4";
    grid-template-columns: 207px 135px 172px 141px;
    grid-column-gap: 75px;
    grid-template-rows: 52px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -200px;
}

.national-post {
    background: url("../img/national-post.png");
    width: 207px;
    height: 28px;
    background-repeat: no-repeat;
    grid-area: item1;
}

.dryme {
    background: url("../img/dryme.png");
    width: 135px;
    height: 49px;
    background-repeat: no-repeat;
    grid-area: item2;

}

.house-home {

    background: url("../img/house&home.png");
    width: 172px;
    height: 42px;
    background-repeat: no-repeat;
    grid-area: item3;

}

.journy {
    background: url("../img/journy.png");
    width: 141px;
    height: 52px;
    background-repeat: no-repeat;
    grid-area: item4;


}

.top-rated {
    display: grid;
    height: 133px;
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    align-content: center;
}

.top-rated-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;


}

.top-rated-img1 {

    height: 190px;
    background-image: url("../img/latest-post-1-img.png");
}

.top-rated-img2 {

    height: 190px;
    background-image: url("../img/latest-post-2-img.png");
}

.top-rated-img3 {

    height: 190px;
    background-image: url("../img/latest-post-3-img.png");
}

.top-rated-img4 {

    height: 190px;
    background-image: url("../img/latest-post-4-img.png");
}

.top-rated-img5 {

    height: 190px;
    background-image: url("../img/latest-post-5-img.png");
}

.top-rated-img6 {

    height: 190px;
    background-image: url("../img/latest-post-6-img.png");
}

.top-rated-img7 {

    height: 190px;
    background-image: url("../img/latest-post-7-img.png");
}

.hot-news {
    display: grid;
    height: 133px;
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    align-content: center;

}

.grid-news-wrapper {
    display: grid;
    grid-template-areas: "item1 item1 item1 item2" "item3 item3 item4 item4" "item5 item5 item6 item6" "item7 item8 item8 item8";
    grid-template-rows: 259px 418px 416px 483px;
    grid-template-columns: 277px 277px 277px 277px;
    grid-column-gap: 35px;
    grid-row-gap: 42px;
    justify-content: center;
    align-items: center;
}


.grid-news1 {
    grid-area: item1;
    display: flex;
}

.grid-news1-img {
    background-image: url("../img/post-1-img.png");
    width: 483px;
    height: 259px;
}

.news-container {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background-color: #f9f7f7;
}

.wrapnews1,
.wrapnews8 {
    width: 320px;
    height: 181px;
    padding: 41px 24px 37px 30px;
}

.grid-news-header {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.head1,
.head8 {
    margin-bottom: 22px;
}

.grid-news1-text {
    color: #5b6469;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    line-height: 21px;
}

.grid-news2 {
    grid-area: item2;
}

.grid-news-header-center {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.grid-news2-img {
    background-image: url("../img/post-2-img.png");
    width: 277px;
    height: 210px;
}

.head2 {
    padding: 14px 41px;
}

.grid-news3 {
    grid-area: item3;
    display: flex;
    flex-direction: column;
}

.grid-news3-img {
    background-image: url("../img/post-3-img.png");
    width: 554px;
    height: 259px;
}

.wrapnews3 {
    width: 505px;
    height: 118px;
    padding: 20px 27px 21px 22px;
}

.head3 {
    margin-bottom: 22px;
}

.grid-news4 {
    grid-area: item4;
    display: flex;
    flex-direction: column;
}

.grid-news4-img {
    background-image: url("../img/post-4-img.png");
    width: 554px;
    height: 259px;
}

.wrapnews4 {
    width: 505px;
    height: 118px;
    padding: 20px 27px 21px 22px;
}

.head4 {
    margin-bottom: 22px;
}

.grid-news5 {
    grid-area: item5;
    display: flex;
    flex-direction: column;
}

.grid-news5-img {
    background-image: url("../img/post-5-img.png");
    width: 554px;
    height: 259px;
}

.wrapnews5 {
    width: 505px;
    height: 118px;
    padding: 20px 27px 21px 22px;
}

.head5 {
    margin-bottom: 22px;
}

.grid-news6 {
    grid-area: item6;
    display: flex;
    flex-direction: column;
}

.grid-news6-img {
    background-image: url("../img/post-6-img.png");
    width: 554px;
    height: 259px;
}

.wrapnews6 {
    width: 505px;
    height: 118px;
    padding: 20px 27px 21px 22px;
}

.head6 {
    margin-bottom: 22px;
}

.grid-news7 {
    grid-area: item7;
}

.grid-news7-img {
    background-image: url("../img/post-7-img.png");
    width: 277px;
    height: 210px;
}

.head7 {
    padding: 13px 40px 20px;
}

.grid-news8 {
    grid-area: item8;
    display: flex;
}

.grid-news8-img {
    background-image: url("../img/post-8-img.png");
    width: 483px;
    height: 259px;
}

.footer {
    display: grid;
    grid-auto-flow: column;
    height: 80px;
    background: #1d2124;
    grid-template-areas: "item1 item2 item3";
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.footer-text {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    grid-area: item1;

}

.footer-logo {
    display: grid;
    background: url("../img/logo-footer.png");
    background-repeat: no-repeat;
    width: 38px;
    height: 24px;
    background-size: 38px 24px;
    justify-content: right;
    align-content: end;
    align-items: end;
    grid-area: item2;
    margin-left: 360px;
    margin-top: 8px;
}

.footer-logo-text {
    display: grid;
    background: url("../img/footer-text.png");
    background-repeat: no-repeat;
    background-size: 64px 16px;
    color: #eaeaea;
    grid-area: item2;
    width: 64px;
    height: 16px;
    margin-left: 400px;

}